In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from statsmodels.tsa.stattools import adfuller, kpss


warnings.filterwarnings("ignore")
plt.style.use("ggplot")

In [12]:
country = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
country["dt"] = pd.to_datetime(country["dt"])
country.set_index("dt", inplace=True)
country

            AverageTemperature  AverageTemperatureUncertainty   Country
dt
1743-11-01               4.384                          2.294     Åland
1743-12-01                 NaN                            NaN     Åland
1744-01-01                 NaN                            NaN     Åland
1744-02-01                 NaN                            NaN     Åland
1744-03-01                 NaN                            NaN     Åland
...                        ...                            ...       ...
2013-05-01              19.059                          1.022  Zimbabwe
2013-06-01              17.613                          0.473  Zimbabwe
2013-07-01              17.000                          0.453  Zimbabwe
2013-08-01              19.759                          0.717  Zimbabwe
2013-09-01                 NaN                            NaN  Zimbabwe

[577462 rows x 3 columns]

In [19]:
# filtering the dataframe to show only Indonesia
indo = country.copy()
indo = indo.loc[indo["Country"] == "Indonesia"]
indo.fillna(method='bfill', inplace=True)

# resampling the data to show the average temp of each decade
filtered = indo.resample("A").mean()
filtered.drop("AverageTemperatureUncertainty", axis=1, inplace=True)
avg = filtered["AverageTemperature"].mean(axis=0)

25.590126102292768

In [14]:
result = kpss(filtered.values, regression='c')
print('\nKPSS Statistic: %f' % result[0])
print('p-value: %f' % result[1])
for key, value in result[3].items():
    print('Critial Values:')
    print(f'   {key}, {value}')

KPSS Statistic: 1.099569
p-value: 0.010000
Critial Values:
   10%, 0.347
Critial Values:
   5%, 0.463
Critial Values:
   2.5%, 0.574
Critial Values:
   1%, 0.739