In [8]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

In [113]:
emissions = pd.read_csv("D:\Kuliah\BasicStats\EVEN_FinalProj\datasets\API_EN.ATM.CO2E.PC_DS2_en_csv_v2_3159114.csv", skiprows=3)
country = pd.read_csv("D:\Kuliah\BasicStats\EVEN_FinalProj\datasets\GlobalLandTemperaturesByCountry.csv")

# processing the temperature dataset to only show Indonesia
country["dt"] = pd.to_datetime(country["dt"])
country.set_index("dt", inplace=True)
country.fillna(method="bfill", inplace=True)
indo_temp = country.loc[country["Country"] == "Indonesia"]
indo_temp.drop("AverageTemperatureUncertainty", axis=1, inplace=True)
indo_temp = indo_temp.resample("AS").mean()
indo_temp 

# processing the CO2 emissions dataset to only show Indonesia
indo_emissions = emissions.loc[emissions["Country Name"] == "Indonesia"]
indo_emissions.drop("Unnamed: 65", axis=1, inplace=True)
# dropping the NaN values as it doesn't affect the analysis
indo_emissions.drop(["2019", "2020"], axis=1, inplace=True)

# slicing the dataframe to get usable features
indo_emissions = indo_emissions.iloc[:, 4:]
indo_emissions = indo_emissions.transpose()
indo_emissions.rename(columns={106:"CO2 emissions (metric tons per capita)"}, inplace=True)
indo_emissions.index = pd.to_datetime(indo_emissions.index)
 
# combining the two datasets together
# drop rows that don't have both features
indo_temp.append(indo_emissions)
# dropping rows that have NaN values

            AverageTemperature  CO2 emissions (metric tons per capita)
1825-01-01           25.552167                                     NaN
1826-01-01           25.365000                                     NaN
1827-01-01           25.365000                                     NaN
1828-01-01           25.365000                                     NaN
1829-01-01           25.365000                                     NaN
...                        ...                                     ...
2014-01-01                 NaN                                1.920800
2015-01-01                 NaN                                1.899659
2016-01-01                 NaN                                1.892441
2017-01-01                 NaN                                2.013671
2018-01-01                 NaN                                2.178462

[248 rows x 2 columns]