In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import warnings
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

warnings.filterwarnings('ignore')

In [3]:
emissions = pd.read_csv("D:\Kuliah\BasicStats\EVEN_FinalProj\datasets\API_EN.ATM.CO2E.PC_DS2_en_csv_v2_3159114.csv", skiprows=3)
country = pd.read_csv("D:\Kuliah\BasicStats\EVEN_FinalProj\datasets\GlobalLandTemperaturesByCountry.csv")

# processing the temperature dataset to only show Indonesia
country["dt"] = pd.to_datetime(country["dt"])
country.set_index("dt", inplace=True)
indo_temp = country.loc[country["Country"] == "Indonesia"] 
indo_temp.fillna(method="bfill", inplace=True)
indo_temp.drop("AverageTemperatureUncertainty", axis=1, inplace=True)
indo_temp = indo_temp.resample("AS").mean()
indo_temp 

# processing the CO2 emissions dataset to only show Indonesia
indo_emissions = emissions.loc[emissions["Country Name"] == "Indonesia"]
indo_emissions.drop("Unnamed: 65", axis=1, inplace=True)
# dropping the NaN values as it doesn't affect the analysis
indo_emissions.drop(["2019", "2020"], axis=1, inplace=True)

# slicing the dataframe to get usable features
indo_emissions = indo_emissions.iloc[:, 4:]
indo_emissions = indo_emissions.transpose()
indo_emissions.rename(columns={106:"CO2 emissions (metric tons per capita)"}, inplace=True)
indo_emissions.index = pd.to_datetime(indo_emissions.index)
 
# combining the two datasets together
# drop rows that don't have both features
indo_final = indo_temp.merge(indo_emissions, how='inner', left_on=indo_temp.index, right_on=indo_emissions.index)

# changing the datetime column name
indo_final.rename(columns={"key_0":"datetime"}, inplace=True)
indo_final

     datetime  AverageTemperature  CO2 emissions (metric tons per capita)
0  1960-01-01           26.029167                                0.243920
1  1961-01-01           25.771667                                0.288848
2  1962-01-01           25.789417                                0.248553
3  1963-01-01           25.838583                                0.239783
4  1964-01-01           25.835500                                0.229458
5  1965-01-01           25.701750                                0.246241
6  1966-01-01           25.943917                                0.227084
7  1967-01-01           25.835083                                0.232007
8  1968-01-01           25.951083                                0.253602
9  1969-01-01           26.113083                                0.298784
10 1970-01-01           26.060167                                0.312065
11 1971-01-01           25.792917                                0.330739
12 1972-01-01           26.061917                                0.358133
13 1973-01-01           26.221833                                0.395606
14 1974-01-01           25.897083                                0.402292
15 1975-01-01           25.898500                                0.412942
16 1976-01-01           25.780833                                0.461390
17 1977-01-01           25.902500                                0.600490
18 1978-01-01           25.985083                                0.667990
19 1979-01-01           26.060000                                0.660346
20 1980-01-01           26.030250                                0.642835
21 1981-01-01           26.030917                                0.663586
22 1982-01-01           25.941750                                0.682392
23 1983-01-01           26.238333                                0.664245
24 1984-01-01           25.773250                                0.694541
25 1985-01-01           25.994083                                0.734901
26 1986-01-01           26.057167                                0.723036
27 1987-01-01           26.368333                                0.718524
28 1988-01-01           26.250667                                0.755317
29 1989-01-01           26.054000                                0.734906
30 1990-01-01           26.237833                                0.815761
31 1991-01-01           26.075167                                0.876745
32 1992-01-01           26.170167                                0.910356
33 1993-01-01           26.138833                                0.971857
34 1994-01-01           26.084250                                1.015535
35 1995-01-01           26.229667                                1.131545
36 1996-01-01           26.215000                                1.172979
37 1997-01-01           26.371917                                1.270396
38 1998-01-01           26.754750                                1.269367
39 1999-01-01           26.133500                                1.337343
40 2000-01-01           26.190250                                1.324594
41 2001-01-01           26.329750                                1.407609
42 2002-01-01           26.529000                                1.408093
43 2003-01-01           26.445500                                1.522268
44 2004-01-01           26.434833                                1.536865
45 2005-01-01           26.453750                                1.521944
46 2006-01-01           26.381750                                1.587750
47 2007-01-01           26.293083                                1.635207
48 2008-01-01           26.065250                                1.601819
49 2009-01-01           26.455000                                1.653210
50 2010-01-01           26.537000                                1.724074
51 2011-01-01           26.202250                                1.960133
52 2012-01-01           26.322083                                1.959133
53 2013-01-01           26.467000                                1.804251

In [11]:
# splitting dataset into independent and dependent variables
x_train = indo_final["CO2 emissions (metric tons per capita)"].iloc[0:44].values.reshape(-1,1)
y_train = indo_final["AverageTemperature"].iloc[0:44].values
x_test = indo_final["CO2 emissions (metric tons per capita)"].iloc[44:].values.reshape(-1,1)
y_test = indo_final["AverageTemperature"].iloc[44:].values 
 
# Linear model
linear = LinearRegression()
linear.fit(x_train, y_train)
y_pred = linear.predict(x_test)
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

# SVR
svr = SVR(kernel="rbf", gamma=0.1, C=100, epsilon=0.1)
svr.fit(x_train, y_train)
y_pred_svr = svr.predict(x_test)
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred_svr))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred_svr))


# Random Forest Regressor

Mean squared error: 0.05
Coefficient of determination: -1.48
Mean squared error: 0.02
Coefficient of determination: -0.13